.addMovie {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 88vh;
    width: 100%;
    background: url(../assets/background.jpg) no-repeat center center;
    background-size: cover;


.box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.411);
    border: 4px solid #780000;
    padding: 10px 30px;
    z-index: 5;

    .formBtn {
        outline: none;
        border: none;
        padding: 10px 40px;
        border-radius: 10px;
        background: #d6a3a3;
        color: black;
        font-size: 13px;
        font-weight: bold;
        cursor: pointer;
        transition: 0.3s;
    }

    .formBtn:hover {
        background: #d16060;
    }

    .title {
        height: auto;
        width: 65vh;
        padding: 20px;
        text-align: center;

        h2 {
            font-size: xx-large;
            color: white;
            font-family: cursive;
            text-shadow: 5px 0 20px black;
        }
    }

    form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1vh;

        .double {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 22.5vh;
        }

        .editLongText, .editShortText {
            width: 100%;
            display: flex;
            flex-direction: column;
            padding: 10px 20px;
            border-radius: 10px;
            background: rgba(54, 54, 54, 0.644);
            gap: 5px;

            h4 {
                font-size: 18px;
                font-weight: bold;
                color: white;
            }

            textarea, input {
                border: none;
                outline: none;
                border-radius: 10px;
                padding: 10px;
                height: 12vh;
                background: rgba(0, 0, 0, 0.404);
                color: rgb(184, 179, 179);
                font-size: 14px;
            }
            textarea {
                height: 8vh;
            }


            input {
                height: 3vh;
            }

            select {
                width: 100%;
                height: 100%;
                color: #ffffff;
                font-size: 14px;
                font-weight: bold;
                background: white;
                outline: none;
                border: 2px solid rgba(255, 255, 255, 0.11);
                border-radius: 40px;
                background: rgba(0, 0, 0, 0.404);
                padding: 1vh 1vh;
                cursor: pointer;
            }

            .chooseDate {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }

        .showtimeList {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            overflow-y: auto;
            height: 6vh;
            gap: 1vh;

            .showtimeItem {
                display: flex;
                align-items: center;
                justify-content: space-between;

                span {
                    color: white;
                    font-weight: bold;
                }

                .delete {
                    padding: 10px;
                    background: #d60000;
                    color: #ffffff;
                }

                .delete:hover {
                    background: rgba(214, 0, 0, 0.63);
                    color: #8e8c8c;
                }
                }

        }
    }
    .buttons {
        display: flex;
        align-items: center;
        gap: 5vh;
    }
}
}

@media screen and (max-height: 750px) {
    .addMovie{
    .box {
        padding: 5px 30px;

        .title {
            padding: 5px 20px;

            h2 {
                font-size: x-large;
            }
        }
        .form {

        }
    }
        }
}

