.navigateComponent {
  height: 12vh;
  width: 100%;
  background-color: #780000;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10vh;

  i {
    font-size: 25px;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }

  .iMenu {
    display: none;
  }

  .logo {
    display: flex;
    height: 100%;
    gap: 2vh;
    align-items: center;
    z-index: 2;

    p {
      font-family: "Times New Roman", Times, serif;
      font-size: 50px;
    }

    img {
      height: 12vh;
      width: 12vh;

      object-fit: cover;
    }
  }

  p,
  a {
    color: white;
    font-size: 18px;
    font-weight: bold;
    font-family: cursive;
  }

  .panel {
    display: flex;
    align-items: center;
    gap: 15vh;
    z-index: 2;

    nav {
      ul {
        display: flex;
        gap: 5vh;
        list-style: none;
        text-decoration: none;

        li {
          position: relative;
          a {
            text-decoration: none;
          }
        }

        li::before {
          position: absolute;
          content: "";
          bottom: -15px;
          width: 0px;
          height: 5px;
          border-radius: 5px;
          background: #fdbcbc;
        }

        li:hover::before,
        li.active::before {
          width: 100%;
          transition: width 0.3s ease;
        }

        li:hover a,
        li.active a {
          color: rgb(255, 243, 0);
          transition: 0.3s;
        }
      }
    }

    .profileBox {
      display: flex;
      align-items: center;
      gap: 2vh;

      .userIcon {
        font-size: 3.5vh;
        cursor: default;
      }

      ul {
        position: absolute;
        background-color: white;
        height: auto;
        width: auto;
        right: 10vh;
        top: 9vh;
        border-radius: 10px;
        list-style: none;

        li {
          font-size: 16px;
          font-weight: bold;
          text-align: center;
          transition: all 0.3s;
          padding: 1vh 2vh;
          cursor: pointer;
        }

        li:nth-child(1) {
          border-top-right-radius: 10px;
          border-top-left-radius: 10px;
        }

        li:nth-child(2) {
          border-bottom-right-radius: 10px;
          border-bottom-left-radius: 10px;
        }

        li:hover {
          background-color: #b30707;
          color: white;
        }
      }
    }
  }

  .bottom {
    position: absolute;
    top: 6vh;
    left: 0;
    width: 100%;
    height: 6vh;
    background-image: linear-gradient(transparent, rgb(0, 0, 0));
  }
}

@media screen and (max-width: 1300px) {
  .navigateComponent {
    .iMenu {
      display: block;
      position: absolute;
      top: 4vh;
      right: 2vh;
      z-index: 11;
    }

    .panel {
      position: absolute;
      top: 0;
      bottom: 0;
      right: -30%;
      width: 30%;
      background-color: #780000;
      z-index: 10;
      padding: 6vh 7vh;
      transition: 0.3s right;
      flex-direction: column;

      nav ul {
        flex-direction: column;
      }

      .profileBox {
        position: absolute;
        bottom: 6vh;
        flex-direction: column;

        .userIcon {
          display: block;
        }

        i {
          display: none;
        }

        ul {
          background: #780000;
          position: static;
          justify-self: center;
          display: flex;
          flex-direction: column;
          gap: 1vh;
          border-radius: 0;

          li {
            background: white;
            border-radius: 10px;
          }
        }
      }
    }
    .panel.visible {
      right: 0;
    }
  }
}

@media screen and (max-width: 550px) {
  .navigateComponent {
    padding: 0 2vh;

    .panel {
      .profileBox {
        flex-direction: column;

        ul li {
            font-size: 14px;
            padding: 1vh 1vh;
        }
      }
    }
  }
}
